@charset "utf-8";

.contents {
  height: 100vh;
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.button-wrap-center {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.button-center {
  border-right: 2px solid black;
  border-left: 2px solid black;
}
