@charset "UTF-8";
body {
  background-image: repeating-linear-gradient(
      to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,
      rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,
      transparent 51px,
      rgba(0, 0, 0, 0.04) 52px,
      rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,
      transparent 77px,
      rgba(0, 0, 0, 0.04) 78px,
      rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,
      transparent 103px,
      rgba(0, 0, 0, 0.04) 104px,
      rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,
      transparent 129px,
      rgba(0, 0, 0, 0.04) 130px,
      rgba(0, 0, 0, 0.04) 130px
    ),
    repeating-linear-gradient(
      to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,
      rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,
      transparent 51px,
      rgba(0, 0, 0, 0.04) 52px,
      rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,
      transparent 77px,
      rgba(0, 0, 0, 0.04) 78px,
      rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,
      transparent 103px,
      rgba(0, 0, 0, 0.04) 104px,
      rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,
      transparent 129px,
      rgba(0, 0, 0, 0.04) 130px,
      rgba(0, 0, 0, 0.04) 130px
    );
}

.select-box-wrapper {
  margin: 20px 0 0 20px;
  width: 170px;
}

#mainPage {
  padding-top: 60px;
}

.rotate-string {
  display: inline-block;
}

.rotate-string:hover {
  transform: rotate(180deg);
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/* modal */
.modal-content {
  background-color: transparent;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.modal-content {
  height: 50vh;
  justify-content: center;
  row-gap: 0.5rem;
}

.modal-header {
  border-bottom: none !important;
  justify-content: center;
}

.modal-footer {
  justify-content: center;
  border-top: none !important;
}
/* end overRide */
