.contents {
  height: 100vh;
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.button-wrap-center {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.button-center {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

/* modal */
/* bootsrrap overRilde */
.modal-dialog{
    display: flex;
    align-items: center;
    min-height: 100%;
} 

.modal-content{
    border: none !important;
    /*
    background-color: rgba(255,255,255,0);
    */
    height: 50vh;
    justify-content: center;
    row-gap: 0.5rem;
}

.modal-header{
    border-bottom: none !important;
    justify-content: center;
}

.modal-footer{
    justify-content: center;
    border-top: none !important;
}
/* end overRide */